// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$dog-gray: #707070;
$light-gray: #F4F4F4;

$pink: #FF725E;
$orange: #FF9C07;
$purple: #AA9DE7;
$dark-blue: #263238;
