// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dmb26cn0z/image/upload/v1662148866/development/dogs_visitor_home_page_nckhct.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-position: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 60px;

  h1.title {
    font-size: 80px;
    font-family: $title-font;
    opacity: 0.9;
  }

  .button {
    width: max-content;
  }

  h2 {
    color: white;
    text-align: center;
    font-family: $body-font;
  }
}

.title{
  text-align: center;
  color: white;
}
.button {
  background-color: rgb(247, 182, 63);
  border-radius: 20px;
  border-color: rgb(247, 187, 76);
  color: white;
  display: flex;
  text-decoration: none;
  text-align: center;
  width: 120px;
  padding: 20px;
  position: absolute;
  bottom: 90px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 20px 60px 100px 50px;

  .card {
   align-items: center;
   background-color: transparent;
   border: none;
   text-align: center;

  img{
    width: 50px;
  }
  }
}

.wrapper {
  position: relative;
  // transform: translate(0%, 0%);
  /* margin: 0 auto; */
  // width: 400px;
  // margin: 50vh auto;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
  radial-gradient(84.5% 84.5% at 82.94% 11.18%, rgba(255, 156, 7, 0.2) 0%, rgba(255, 156, 7, 0.088) 100%),
  radial-gradient(117.99% 63.79% at 2.22% 47.35%, #FF725E 0%, rgba(255, 109, 88, 0) 100%),
  radial-gradient(202.37% 98.49% at 113.9% 109.94%, #FF725E 0%, rgba(255, 255, 255, 0) 100%),
  #9BA5FF;
}

.scaled-wrapper {
  transform: scale(2.5);
}

.circle {
    margin: auto;
    background: transparent;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    transform: rotate(0deg) translate(0%, 0%);
  animation: circle 30s infinite;
}

p {
  margin: 0;
  padding: 0;
}

.element#a  {
  animation: blur_a 30s infinite;
}

.element#b  {
  animation: blur_b 30s infinite;
}

.element#c  {
  animation: blur_c 30s infinite;
}

.element#d  {
  animation: blur_d 30s infinite;
}

.element#e  {
  animation: blur_e 30s infinite;
}

#a {
  position: absolute;
  top: -43px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#b {
  position: absolute;
  top: 30px;
  left: -40px;
  transform: translate(-50%, -50%);
}

#c {
  position: absolute;
  bottom: -66px;
  left: -4px;
  transform: translate(-50%, -50%);
}

#d {
  position: absolute;
  bottom: -67px;
  right: -20px;
  transform: translate(-50%, -50%);
}

#e {
  position: absolute;
  top: 12px;
  right: -69px;
  transform: translate(-50%, -50%);
}

p#caption {
    padding-top: 0px;
    font-family: $title-font;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 13px;
    width: 110px;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

#caption::after {
  animation: content 30s infinite;
  content: "coucou";
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(0%, 0%);
  }

  10% {
    transform: rotate(5deg) translate(0%, 0%);
  }

  20% {
    transform: rotate(73deg) translate(0%, 0%);
  }

  30% {
    transform: rotate(83deg) translate(0%, 0%);
  }

  40% {
        transform: rotate(133deg) translate(0%, 0%);
  }

  50% {
      transform: rotate(143deg) translate(0%, 0%);
  }

  60% {
    transform: rotate(203deg) translate(0%, 0%);
  }

  70% {
        transform: rotate(213deg) translate(0%, 0%);
  }

  80% {
        transform: rotate(283deg) translate(0%, 0%);
  }

  90% {
        transform: rotate(290deg) translate(0%, 0%);
  }

  100% {
    transform: rotate(360deg) translate(0%, 0%);
  }
}

@keyframes content {
  0% {
   content: "Rencontrez des chiens compatibles avec le votre";
  }

  10% {
    content: "Rencontrez des chiens compatibles avec le votre";
  }

  20% {
    content: "Partagez votre amour pour votre animal";
  }

  30% {
    content: "Partagez votre amour pour votre animal";
  }

  40% {
      content: "Trouvez les meilleurs lieux de balades";
  }

  50% {
      content: "Trouvez les meilleurs lieux de balades";
  }

  60% {
   content: "Rejoignez une communauté active";
  }

  70% {
       content: "Rejoignez une communauté active";
  }

  80% {
       content: "petpals";
  }

  90% {
       content: "petpals";
  }

  100% {
  content: "Rencontrez des chiens compatibles avec le votre";
  }
}

@keyframes blur_a {
  0% {
    filter: blur(0px);
  }

  10% {
    filter: blur(0px);
  }

  20% {
    filter: blur(4px);
  }

  90% {
    filter: blur(4px);
  }

}

@keyframes blur_b {
  0% {
    filter: blur(4px);
  }

  15% {
    filter: blur(0px);
  }

  20% {
    filter: blur(0px);
  }

  100% {
    filter: blur(4px);
  }

}

@keyframes blur_c {
  0% {
    filter: blur(4px);
  }

  40% {
    filter: blur(0px);
  }

  45% {
    filter: blur(0px);
  }

  100% {
    filter: blur(4px);
  }

}

@keyframes blur_d {
  0% {
    filter: blur(4px);
  }

  40% {
    filter: blur(4px);
  }

  65% {
    filter: blur(0px);
  }

  100% {
    filter: blur(4px);
  }

}

@keyframes blur_e {
  0% {
    filter: blur(4px);
  }

  80% {
    filter: blur(0px);
  }

  85% {
    filter: blur(0px);
  }

  100% {
    filter: blur(4px);
  }

}
