.likes-cards {
  padding: 0 24px 0 24px;

  img {
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  object-fit: cover;
  width: 50%;
  }

}

.header-home-user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.mask {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px;

  img {
    max-width: 100%;
  }
}
