.likes-cards {
  padding: 0 24px 0 24px;
  margin-bottom: 15px;

  img {
  aspect-ratio: 1 / 1;
  border-radius: 44px;
  object-fit: cover;
  width: 44%;
  }
}

.header-home-user {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  padding: 10px;
  margin-bottom: 90px;
  a {
    text-decoration: underline;
  }
  strong {
    color: $purple;
  }
}

.mask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .avatar {
    align-self: flex-end;
    object-fit: cover;
    width: 75px;
    height: 75px;
    margin: 5px 5px 5px 0;
    border-radius: 50%;
  }
}
.log-out {
  align-self: flex-end;
}

.profil-card {
  padding: 0 24px 0 24px;
  margin-bottom: 15px;
}
.edit-profil {
  text-align: right;
  color: $pink;
}
