// Specific CSS for your home-page
.banner {
  background-image: url("https://res.cloudinary.com/dmb26cn0z/image/upload/v1662148866/development/dogs_visitor_home_page_nckhct.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-position: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 60px;

  h1.title {
    font-size: 80px;
    font-family: $headers-font;
    opacity: 0.9;
  }

  .button {
    width: max-content;
  }

  h2 {
    color: white;
    text-align: center;
    font-family: $body-font;
  }
}

.title{
  text-align: center;
  color: white;
}
.button {
  background-color: rgb(247, 182, 63);
  border-radius: 20px;
  border-color: rgb(247, 187, 76);
  color: white;
  display: flex;
  text-decoration: none;
  text-align: center;
  width: 120px;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 20px 60px 100px 50px;

  .card {
   align-items: center;
   background-color: transparent;
   border: none;
   text-align: center;

  img{
    width: 50px;
  }
  }
}
