.main-container {
    margin-bottom: 80px;
}

.title-meetings-index {
    font-size: larger;
    font-weight: 600;
    font-family: $headers-font;
    padding: 0px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 0;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.card-meeting {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    background-color: #F3F1FF;
    border-radius: 15px;

    card-infos {
        display: flex;
        flex-direction: column;
    }
}

.dog-image {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
}

.card-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: space-evenly;

    h3 {
        font-family: $body-font;
        font-size: medium;
        font-weight: bold;
    }
}

