.container-dog {
  overflow: scroll;
  height: 80vh;
  background-color: white;
  padding-bottom: 10px;
  position: relative;
}

ul {
  padding-left: 12px;
}

.banner-dog {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-position: center;
    margin-bottom: 25px;
    position: sticky;
    top: 0;

    img {
      aspect-ratio: 1 / 1;
      height: 40vh;
      width: 100%;
      margin: 0;
      object-fit:cover;
      padding: 0;
      object-position: 50% 30%;
    }
}

 .dog_infos {
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid $dog-gray;
    margin-left: 15px;
    margin-right: 15px;
    font-family: $body-font;
    align-items: flex-start;

    h6 {
        color: $dog-gray;
        padding-left: 10px;
        font-family: $body-font;
        font-weight: normal
    }

    h2 {
        font-weight: bold;
    }
}

.location {
    display: flex;
    align-items: flex-end;

    h6 {
        color: $pink;
    }
}

.description {

    margin: 15px;

    h6 {
        font-family: $body-font;
        padding-left: 10px;
        color: $dog-gray;
        font-weight: normal;
        line-height: 2;
    }
}

.tools h3 {
    margin-left: 15px;
}
.toys {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.bubble {
    display: flex;
    border: 1px solid black;
    background-color: $pink;
    border-radius: 5px;
    padding: 9px;
    color: white;
    width: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.like_swap {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 20px;
    align-items: center;
    position: absolute;
    bottom: 79px;
    width: 100%;

    .chevron {
        color: $dog-gray;
        font-size: 50px;
        opacity: 0.4;
    }
}

#pawpaw {
    background-color: transparent;
    color: rgb(185, 185, 185);
    z-index: 100;
    font-size: 70px;
  }

.likedpaw {
    background-color: transparent;
    color: $pink !important;
    z-index: 500;
    font-size: 70px;
}

// #pawpaw {
//     font-size: 85px;
//     color: #EFB05F;
//     opacity : 1;
// }

// #all_infos {
//     height: 40vh;
// }
