<div class="container">
  <div class="search-bar">
    <input type="text" placeholder="Lieu de recherche">
  </div>

  <% @dogs.each do |dog| %>
    <%= dog.name %>
    <%= dog.age %>
    <%= dog.temper %>
  <% end %>
</div>
