<div class="search-bar">
  <%= form_with url: dogs_path, method: :get, class: "d-flex w-100" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Ville, caractère, race..."
    %>
    <button class='button-search'><%= image_tag "search-icon.svg" %></button>
  <% end %>
</div>
