<div class="search-bar">
  <%= form_with url: dogs_path, method: :get, class: "d-flex w-100" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Commencer une recherche"
    %>
    <button class='button-search'><i class="fa-solid fa-magnifying-glass"></i></button>
  <% end %>
</div>
