<div class="dog-cards">
  <% @dogs.each do |dog| %>
    <div class="card-left">
      <%#= cl_image_tag dog.photos.key, crop: :fill %>
    </div>
    <div class="card-right">
      <%= dog.name %>
      <%= dog.address %>
      <%#= Geocoder::Calculations.distance_between(current_user.dog.lat, current_user.dog.lng, dog.lat, dog.lng) %>
    </div>
  <% end %>
</div>
