<div class="wrapper">
  <%= link_to "Voir tous les chiens", dogs_path, class: "button btn-home" %>
  <div class="scaled-wrapper">
    <div class="circle">
      <p class="element" style="font-size: 30px" id="a">🐶</p>
      <p class="element" style="font-size: 30px" id="b">💕</p>
      <p class="element" style="font-size: 30px" id="c">🌳</p>
      <p class="element" style="font-size: 30px" id="d">👥</p>
      <p class="element" style="font-size: 30px" id="e">🐕</p>
    </div>
    <p id="caption"></p>
  </div>
</div>
