.alert {
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 9000;
}

.alert-match {
  position: initial;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background:
  radial-gradient(84.5% 84.5% at 82.94% 11.18%, rgba(255, 156, 7, 0.2) 0%, rgba(255, 156, 7, 0.088) 100%),
  radial-gradient(117.99% 63.79% at 2.22% 47.35%, #FF725E 0%, rgba(255, 109, 88, 0) 100%),
  radial-gradient(202.37% 98.49% at 113.9% 109.94%, #FF725E 0%, rgba(255, 255, 255, 0) 100%),
  #9BA5FF;

  .modal-content {
    text-align: center;
    h1 {
      font-family: $title-font;
      font-size: 45px;
      color: white;
      text-align: center;
    }
  }

}

.heart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .dog {
    background-image: url("heart.png");
    display: flex;
    width: 90vw;
    height: 40vh;
    justify-content: space-around;
    background-size: contain;
    background-repeat: no-repeat;
    .gauche, .droite {
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        color:white;
        font-family: $title-font;
      }
    }
    .avatar {
      border: 3px solid #FFFFFF;
    }
  }

.button {

    background-color:$purple;
    border-radius: 40px;
    border-color: $purple;
    color: white;
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 80px 10px 80px;
    justify-content: center;
  }
}
