.alert {
  position: fixed;
  bottom: 80px;
  z-index: 9000;
  overflow: hidden;

  .confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 4s linear -2s infinite;
    transform-origin: left top;
  }
  .confetti:nth-child(1) {
    background-color: #f2d74e; left: 10%; animation-delay: 0;
  }
  .confetti:nth-child(2) {
    background-color: #95c3de; left: 20%; animation-delay: -5s;
  }
  .confetti:nth-child(3) {
    background-color: #ff9a91; left: 30%; animation-delay: -3s;
  }
  .confetti:nth-child(4) {
    background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
  }
  .confetti:nth-child(5) {
    background-color: #95c3de; left: 50%; animation-delay: -4s;
  }
  .confetti:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
  }
  .confetti:nth-child(7) {
    background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
  }
  .confetti:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
  }
  .confetti:nth-child(9) {
    background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
  }
  .confetti:nth-child(10) {
    background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
  }

  @keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); opacity: 1; }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); opacity: 0;}
  }
}

.alert-dismissible {
  padding-right: 1rem;
}
.alert-match {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background:
  radial-gradient(84.5% 84.5% at 82.94% 11.18%, rgba(255, 156, 7, 0.2) 0%, rgba(255, 156, 7, 0.088) 100%),
  radial-gradient(117.99% 63.79% at 2.22% 47.35%, #FF725E 0%, rgba(255, 109, 88, 0) 100%),
  radial-gradient(202.37% 98.49% at 113.9% 109.94%, #FF725E 0%, rgba(255, 255, 255, 0) 100%),
  #9BA5FF;
  top: 0px;
  bottom: 62px;
  right: 0px;
  left: 0px;


  .modal-content {
    text-align: center;
    h1 {
      font-family: $title-font;
      font-size: 45px;
      color: white;
      text-align: center;
    }
  }

}

.heart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .dog {
    background-image: url("heart.png");
    display: flex;
    width: 90vw;
    height: 40vh;
    justify-content: space-around;
    background-size: contain;
    background-repeat: no-repeat;


    .gauche, .droite {
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        color:white;
        font-family: $title-font;
      }
    }
    .avatar {
      border: 3px solid #FFFFFF;
    }
  }

.button {

    background-color:$purple;
    border-radius: 40px;
    border-color: $purple;
    color: white;
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 160px;
    justify-content: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  }
}
