#title-index {
  h1 {
    font-family: $title-font;
    color: $pink;
    padding: 20px;
    font-size: 40px;
    margin: 0;
  }
  display: flex;
  justify-content: center;
}

.index-cards-dogs {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  height: calc(100vh - 80px - 80px);
  overflow: scroll;
  padding: 0 24px 0 24px;
  position: fixed;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

a {
  text-decoration: none;
}

.index-card-dog {
  background-color: #F3F1FF;
  position: relative;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  h2 {
    color: black;
    font-family: $body-font;
    font-size: 25px;
    margin-bottom: 2px;
  }

  h4 {
    color: black;
    font-family: $body-font;
    font-size: 16px;
    margin: 0px;
  }

  h5 {
    color: $pink;
    font-family: $body-font;
    font-size: 16px;
    margin: 0px;
    font-weight: 300;
  }

  ul {
    padding: 0px;
  }

  img {
    aspect-ratio: 1 / 1;
    border-radius:10px 10px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 230px;
    object-position: 50% 30%;
  }

  .paw {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: transparent;
  }

  .index-card-bottom {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .index-card-bottom-top {
      display: flex;
    }

    .index-card-bottom-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .index-card-bottom-2 {
      margin-bottom: 15px;
      color: $dog-gray;
    }
  }
}

.btnpaw {
  color: white !important;
  z-index: 500;
}

.likedpaw{
  color: $pink !important;
}
