.index-cards-dogs {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 80px - 80px);
  overflow: scroll;
  padding: 0 24px 0 24px;
  position: fixed;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

a {
  text-decoration: none;
}

.index-card-dog {
  background-color: transparent;
  border: none;
  padding: 10px;
  position: relative;


  h2 {
    color: black;
    font-family: "Fredoka One";
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2px;
  }

  h5 {
    color: $dog-gray;
    font-family: "Concert One";
    font-size: 16px;
    margin: 0px;
  }

  ul {
    padding: 0px;
  }

  img {
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
  }

  .paw {
    color: $white;
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .index-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

    .index-card-left {
      margin-left: 12px;
    }

    .index-card-right {
      margin-right: 12px;
    }

  }
}
