.cards-match {
display: grid;
grid-template-columns: 1fr;
margin-bottom: 80px;
}

h1 {
  font-family: 'Concert One';
  text-align: left;
  padding: 20px;
}
.card-match {
  border: none;
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 20px 40px;
  justify-content: space-between;
  background-color: #F3F1FF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 15px;

  .dog-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  .heart {
    height: 60px;
    width: 90px;
  }
}

.title-index {
  padding-top: 45px;
  padding-bottom: 0px;
  font-family:$body-font;
  text-align: left;
  margin-bottom: 0;
}

 .match-info {
  align-items: center;
  margin-left: 16px;
 }
