.button-map {
  border-radius: 6px;
  background-color: $pink;
  z-index: 9000;
  position: fixed;
  right: 33px;
  bottom: 136px;
}

.button-map a {
  color: white;
  display: block;
  text-decoration: none;
  border-color: 1px solid black;
  padding: 8px 16px;
  font-size: 16px;
}

.mapboxgl-popup {
  max-width: 200px;
}


.mapboxgl-map .mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 26px;

}

button.mapboxgl-popup-close-button {
  background-color: white;
  right: 11px;
  border-radius: 50%;
}

.mapboxgl-map .mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: image-url("search-map.svg");
}


.mapboxgl-map .mapboxgl-ctrl-geocoder--icon-search path {
  display: none;
}

.mapboxgl-map .mapboxgl-ctrl-geocoder--input {
  padding: 6px 55px;
}
