.ajouter-lieu {
  border-radius: 6px;
  background-color: $pink;
  z-index: 8000;
  position: fixed;
  right: 33px;
  bottom: 136px;
  color: white;
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
}


.mapboxgl-popup {
  max-width: 200px;
}


.mapboxgl-map .mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 18px;
  overflow: hidden;
  padding: 0;
  .park-image {
    width: 100%;
    object-fit: cover;
  }
  .window-info {
    padding: 15px;
  }

}

button.mapboxgl-popup-close-button {
display: none;
}

.mapboxgl-map .mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: image-url("search-map.svg");
}


.mapboxgl-map .mapboxgl-ctrl-geocoder--icon-search path {
  display: none;
}

.mapboxgl-map .mapboxgl-ctrl-geocoder--input {
  padding: 6px 55px;
}

.modal-title {
  font-family: $body-font;
}

.modal {
  --bs-modal-header-border-color: transparent;
  --bs-modal-footer-border-color: transparent;
  --bs-modal-zindex: 9000;
  width: 80vw;
  left: 10vw;
  top: 40px;

}

.form-control, .mapboxgl-ctrl-geocoder--input {
  border: 1px solid $pink !important;
}

.modal-blur {
  filter: blur(3px);
}

.modal-header {
  padding: 10px 20px;
}
