.match {
  background: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .head {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $gray-200;
    align-items: center;
  }

  .avatar {

    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    border-color: 1px solid black;
  }

  h1 {
    font-family: $body-font;
    margin-bottom: 0;
    padding: 1rem;
    align-self: flex-start;
  }

  .messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
    padding: 1rem;
    padding-bottom: 0;

    .form-group {
      margin-bottom: 0;
    }
  }

  button.icon-calender {
    border: none;
    font-size: 2rem;
    background-color: transparent;
    margin-bottom: 1rem;
    padding: 0px 16px 0px 0px;

  }

  .icon {
    border: none;
    background: none;
    color: $pink;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    position: absolute;
    right: 34px;
    bottom: 94px;
  }
}
.padding-input {
  padding-right: 47px;
  height: 55px;
}
