
.message-current-user {
  background-color: #a5d2da;
  border-radius: 20px;
  width: 200px;
  margin: 0 15px 15px 0;
  padding: 10px;

}

.message-other-user {
  background-color:  #a8cdef;
  border-radius: 20px;
  width: 200px;
  margin: 0 15px 15px 0;
  padding: 10px;
}
