
.message-current-user {
  background-color: $pink;
  color: white;
  border-radius: 20px;
  width: 250px;
  margin: 0 15px 15px 0;
  padding: 10px;
  align-self: flex-end;
}

.message-other-user {
  background-color: $light-gray;
  border-radius: 20px;
  width: 250px;
  margin: 0 15px 15px 0;
  padding: 10px;
  align-self: flex-start;
}
