.search-bar {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  text-align: center;

  input {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    &:focus {
      color: #0E0000;
      border: none;
      background-color: transparent;
      border: 1px solid $pink;
      border-radius: 5px 0px 0px 5px;
      outline: 0;
      box-shadow: none;
    }

  }

}

.button-search {
  border: none;
  background: $pink;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 2rem;
  border-radius: 0px 5px 5px 0px;
}
