.search-bar {
  align-items: center;
  border-radius: 500px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin: 20px 34px;
  padding: 10px;
  text-align: center;

  input {
    background-color: transparent;
    border: none;
    margin: 0px 12px;
  }

}

.search-magnifier {
  align-items: center;
  color: $dog-gray;
  margin-right: 12px;
}
