.search-bar {
  align-items: center;
  border-radius: 500px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin: 20px 34px;
  padding: 10px;
  text-align: center;

  input {
    background-color: transparent;
    border: none;
    margin: 0px 12px;
    &:focus {
      color: #0E0000;
      border: none;
      background-color: white;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: none;
    }

  }

}

.button-search {
  border: none;
  background: none;
  color: #cececf;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 2rem;
}
