// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

.content-wrapper {
  min-height: calc(100vh - 80px - 0px);
  background-color: white;
}

body {
  background-color: white;
}