<div class='all-my-reviews'>
  <h1>Tous mes avis</h1>
  <%= link_to "Retour", home_user_path, class: "button-return btn-primary"%>
  <div>
    <% current_user.reviews.each do |review| %>

      <div class='card-avis'>
      <br>
      Mon commentaire :
        <p><%=review.place.name%>
        <br>
        <%= review.content %></p>
        <br>
        Je donne une note de <%= review.rating %> sur 5 à ce parc.
        <%#= link_to "Delete", delete_review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
      <br>
    <% end %>
  </div>
</div>
