<div class="window">
  <% if place.photo.key %>
    <%= cl_image_tag place.photo.key, width: 250, height: 150, crop: :fill, class: "park-image"%>
  <% end %>
  <div class="window-info">
    <h2><%= place.name %></h2>
    <p><%= place.address %></p>
  </div>
    <div class="button-avis">
      <%= link_to "Voir tous les avis", place_path, class: "button btn-home" %>
  </div>
</div>
