<div class="window">
  <% if place.photo.key %>
    <%= cl_image_tag place.photo.key, width: 250, height: 150, crop: :fill, class: "park-image"%>
  <% end %>
  <div class="window-info">
    <h2><%= place.name %></h2>
    <p><%= place.address %></p>
    <%#= (tried here to add a average rating in the info window but failed) @place.reviews.sum(:rating) / @place.reviews.size%> </h3>
    <%= link_to "Voir les avis", place_reviews_path(place), class:"button-read-review" %>
  </div>
</div>
