<div style="width: 100vw; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="button-map">
    <%= link_to "Ajouter un lieu", new_place_path %>
  </div>
</div>
